.btn-1{
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.btn-1:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.btn-2{
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #ff0000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.btn-2:active{
    background-color: #ba420b;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}